# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool
*.out

# Build directories
bin/
build/

# Vendor directory (jika tidak ingin commit)
vendor/

# Go workspace file
go.work

# Editor / IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Custom
uploads/